# Handle ignored files for the server
.vagrant/
ubuntu-xenial-*
.swp

# Handle ignored files inside web directory
.DS_Store
node_modules
npm-debug.log
css/
vendor/

# Ignore custom constants file
custom_constants.php

# Ignore large images
*_Large*.png
*_Large*.jpg
