.question-answer-row
{
	dl
	{
		margin-bottom: 0;

		dt
		{
			font-size: 125%;
			color: $quanternary-color;
		}

		dd:not(:last-of-type)
		{
			margin-bottom: 1.25em;
		}
	}		
}


@include breakpoint(small)
{
	.profile-row img
	{
		margin-bottom: 1.5rem;
	}
}


@include breakpoint(large)
{
	.profile-row
	{
		display: flex;
		align-items: center;
	}
}