//Post card that shows a brief preview of the post
.post-card {
	margin-bottom: 1rem;
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(225, 225, 225);

	//Post card header
	.post-card__header {
		padding: 0.75rem;
		border-bottom: 1px solid rgb(225, 225, 225);
	}

	//Post card header info section
	.post-card__info {
		float: right;
	}

	//Post card actions
	.post-card__actions {
		margin-right: 0.5rem;
	}

	//Post card header actions
	.post-card__action {
		opacity: 0.25;
		display: inline-block;
		padding: 0 0.25rem;
		color: $medium-light-grey;
	}

	&:hover .post-card__action {
		opacity: 1;
	}

	//Individual post card actions
	.post-card__actions--edit:hover { color: dodgerblue; }
	.post-card__actions--delete:hover { color: indianred; }

	//Post card bodyj
	.post-card__body {
		padding: 0.75rem;
	}
}

$blogControlBorders: rgb(225, 225, 225);		//Blog control border colours

.blog__control {
	margin-bottom: 1rem;
	background-color: rgb(250, 250, 250);
	border: 1px solid $blogControlBorders;;

	.control__header {
		padding: 0.5rem;
		font-weight: bold;
		text-align: center;
		border-bottom: 1px solid $blogControlBorders;
	}

	.control__content {
		padding: 1rem;
	}

	.control__content .button {
		margin: 0;
	}
}
