//Wrapper for footer
footer {
	padding: 2rem 0;
	color: white;
	background-color: rgb(15, 15, 15);

	//Social media icons bar
	.social-media-bar {
		margin-bottom: 1.25rem;

		a:not(:last-of-type) {
			margin-right: 0.6rem;
		}

		//Social media icons
		img {
			width: 30px;
			box-sizing: border-box;
			background-color: $medium-gray;
			border-radius: 1000px;

			&:hover {
				background-color: rgb(25, 153, 226);
			}
		}
	}
}
