header {
	border-bottom: 1px solid $medium-light-grey;
}

.header-content {
	padding: 1rem;

	.header-bar {
		//Declare as a flexbox container
		display: flex;
		//Vertically middle-align elements
		align-items: center;

		.header-logo {
			display: inline-block;
			height: 45px;
		}

		.menu-button {
			//Auto margin to simulate "float right"
			margin-left: auto;
			padding: 0.5rem;
			line-height: 0;
			border: 1px solid $medium-light-grey;
			border-radius: 0.25rem;

			&:hover {
				background-color: $light-grey;
			}

			img {
				width: 1.25rem;
				height: 1.25rem;
			}
		}
	}

	.collapsible-menu {

	}
}


@include breakpoint(medium) {
	.header-content {
		position: relative;

		.horizontal-menu {
			display: inline-block;
			//Auto margin to simulate "float right"
			margin-left: auto;

			li {
				a {
					padding: 0.3rem 0.75rem;
					color: $dark-grey;
					font-weight: bold;

					&:hover {
						color: $primary-color;
					}
				}

				&:not(:last-of-type) {
					margin-right: 0.25px;
				}
			}
		}
	}
}
