header {
	border-bottom: 1px solid $medium-light-grey;
}

.header-content {
	padding: 1rem;

	.header-bar {
		//Declare as a flexbox container
		display: flex;
		//Vertically middle-align elements
		align-items: center;

		.header-logo {
			display: inline-block;
			height: 45px;
		}
	}

	.menu-button {
		//Auto margin to simulate "float right"
		margin-left: auto;
		padding: 0.5rem;
		line-height: 0;
		border: 1px solid $medium-light-grey;
		border-radius: 0.25rem;

		&:hover {
			background-color: $light-grey;
		}

		img {
			width: 1.25rem;
			height: 1.25rem;
		}
	}

	.collapsible-menu {
		display: none;
	}

	.horizontal-menu {
		display: none;
		right: 0;

		@include vertical-align(absolute);

		li {
			a {
				color: $dark-grey;
				font-weight: bold;

				&:hover {
					color: $primary-color;
				}
			}
		}
	}
}


@include breakpoint(medium) {
	.header-content {
		position: relative;

		.horizontal-menu {
			display: inline-block;

			li {
				a {
					padding: 5px 15px;
				}

				&:not(:last-of-type) {
					margin-right: 5px;
				}
			}
		}
	}
}
