/* Mixin */
@mixin vertical-align($position: relative) {
	position: $position;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin vertical-flexbox()
{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}

.vertical-align
{
	@include vertical-align();
}

/*@font-face
{
	font-family: Varela;
	src: url('/src/fonts/varela-round.otf');
}*/



.radius
{
	border-radius: 5px;
}

.radius-lg
{
	border-radius: 10px;
}

.round
{
	border-radius: 1000px;
}

.no-margin
{
	margin: 0 !important;
}

.no-vmargin
{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.no-padding
{
	padding: 0 !important;
}

.horizontal-menu
{
	margin: 0;
	padding: 0;
	list-style: none;

	li
	{
		display: inline-block;

		a
		{
			display: block;
		}
	}
}

.primary-color
{
	color: $primary-color;
}

.background-primary-color
{
	background-color: $primary-color;
}

.secondary-color
{
	color: $secondary-color;
}

.background-secondary-color
{
	background-color: $secondary-color;
}

.tertiary-color
{
	color: $tertiary-color;
}

.background-tertiary-color
{
	background-color: $tertiary-color;
}

.quanternary-color
{
	color: $quanternary-color;
}

.background-quanternary-color
{
	background-color: $quanternary-color;
}

.background-dark-grey
{
	color: white;
	background-color: $dark-grey;
}

.background-medium-grey
{
	color: white;
	background-color: $medium-dark-grey;
}

.background-grey
{
	background-color: $medium-grey;
}

.background-light-grey
{
	background-color: $light-grey;
}

.background-white
{
	background-color: white;
}

.background-blue
{
	color: $light-grey;
	background-color: $primary-color;
}

.background-green
{
	color: $light-grey;
	background-color: $secondary-color;
}

/* Containers for rows */
.container-xlarge
{
	padding: 5rem 0;
}

.container-large
{
	padding: 2rem 0;
}

.container-medium
{
	padding: 1rem 0;
}

@include breakpoint(medium)
{
	/* Containers for rows */
	.container-xlarge
	{
		padding: 6.5rem 0;
	}

	.container-large
	{
		padding: 3rem 0;
	}

	.container-medium
	{
		padding: 1.5rem 0;
	}
}
