$dark-grey: rgb(50, 50, 50);
$medium-dark-grey: rgb(100, 100, 100);
$medium-light-grey: rgb(150, 150, 150);
$light-grey: rgb(200, 200, 200);

$site-blue: rgb(78, 146, 202);
$icon-blue: rgb(25, 153, 226);
$site-red: rgb(199, 54, 71);
$icon-red: rgb(213, 42, 42);

$icon-orange: rgb(236, 109, 27);
$site-green: rgb(73, 220, 104);
