@charset "utf-8";

@import "settings";
@import "variables";
@import "foundation";
//@import 'motion-ui';

//Import Foundation-Icon-Fonts
@import "_foundation-icons";

@include foundation-global-styles;
//@include foundation-grid;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
//@include foundation-range-input;
//@include foundation-accordion;
//@include foundation-accordion-menu;
// @include foundation-badge;
//@include foundation-breadcrumbs;
//@include foundation-button-group;
//@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
//@include foundation-menu-icon;
//@include foundation-drilldown-menu;
//@include foundation-dropdown;
//@include foundation-dropdown-menu;
//@include foundation-flex-video;
@include foundation-label;
//@include foundation-media-object;
//@include foundation-off-canvas;
//@include foundation-orbit;
//@include foundation-pagination;
//@include foundation-progress-bar;
//@include foundation-progress-element;
//@include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
//@include foundation-tabs;
// @include foundation-thumbnail;
//@include foundation-title-bar;
@include foundation-tooltip;
//@include foundation-top-bar;
@include foundation-visibility-classes;
//@include foundation-float-classes;
@include foundation-flex-classes;

//@include motion-ui-transitions;
//@include motion-ui-animations;

//Import Raleway font
@font-face {
	font-family: "Raleway";
	src: url("/fonts/Raleway/Raleway-Regular.ttf");
}

//Set default font
h1, h2, h3, h4, p, span, div {
	font-family: Raleway, sans-serif;
}

//Import styles
@import "variables";
@import "header";
@import "index";
@import "about";
@import "blog";
@import "footer";

//Background Image Opacity (for added texture)
//	Taken from https://css-tricks.com/snippets/css/transparent-background-images/
body {
	position: relative;
	background-color: rgb(250, 250, 250);

	&::after {
		content: "";
		background: url("/images/backgrounds/cork-wallet.png");
		background-repeat: repeat;
		opacity: 0.35;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		position: fixed;
		z-index: -2;
	}
}

//Utility class to remove the bottom-margin the last paragraph in a block
.paragraph-block {
	p:not(:last-of-type) {
		margin-bottom: 0.75rem;
	}
}

//Utility class to remove borders
.no-border { border: none; }

.g-recaptcha { display: inline-block; }

.form__row { margin-bottom: 1.5rem; }


//Flexbox wrapper to enable sticky footer (if not enough content is displayed)
.site__body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	.site__content {
		flex: 1;
	}
}

//Page header wrapper style (because of `fixed` nav header)
.content__header--offset {
	padding: 5.5rem 0 2rem 0;

	h1 { margin: 0; }
}


/* Message styles */
.message {
	position: relative;
	padding: 0.75rem;
	color: darken($site-blue, 10%);;
	background-color: lighten($site-blue, 20%);
	border-color: darken($site-blue, 10%);
	border-width: 3px;
	border-style: solid;
	border-radius: 2px;

	//Close buttons in messages
	.close {
		position: absolute;
		right: 0.5rem;
		top: 50%;
		transform: translateY(-50%) rotate(90deg);
		cursor: pointer;
		outline: none;
	}

	i {
		margin-right: 0.5rem;
	}
}

.message--error {
	color: $site-red;
	background-color:lighten($site-red, 40%);
	border-color: $site-red;
}

.message--warn {
	//TODO: Add a site-yellow
}

.message--success {
	color: darken($site-green, 25%);
	background-color: lighten($site-green, 35%);
	border-color: $site-green;
}



/* Timer Styles */

.message__timer circle {
	fill: none;
	stroke: currentColor;
	stroke-opacity: 0.5;
}

.message__timer line, .close line {
	fill: none;
	stroke-linecap: round;
	stroke: currentColor;
	stroke-opacity: 0.75;
}

//Circle animation
.timer__circle-animation {
	//stroke-dasharray & stroke-dashoffset are added in the JS
	transition: all 1s linear;
}
