$dark-grey: rgb(40, 40, 40);
$medium-dark-grey: rgb(75, 75, 75);
$medium-grey: rgb(125, 125, 125);
$medium-light-grey: rgb(200, 200, 200);
$light-grey: rgb(245, 245, 245);


$primary-color: #2199e8;
$secondary-color: #35BBAA;
$tertiary-color: #b166ee;
$quanternary-color: #DB514F;
