@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'variables';
@import 'utilities';
//@import 'motion-ui';

@include foundation-global-styles;
// @include foundation-grid;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

//@include motion-ui-transitions;
//@include motion-ui-animations;


@import 'header';
@import 'footer';
@import 'index';
@import 'about';


body, p, h1, h2, h3, h4, h5, div, span
{
	font-family: 'Varela Round', sans-serif;
}

body
{
	color: $dark-grey;
	background-color: $light-grey;
}

.hover-primary:hover
{
	color: $primary-color;
}

.hover-secondary:hover
{
	color: $secondary-color;
}



/******************************************************************************/
.error-page {
	background-image: url("/dist/images/dark_sharp_edges.png");

	.error-page-overlay {
		height: 100%;
		background-color: rgba(255, 255, 255, 0.25);
	}

	section {
		height: 100%;
	}
}

/******************************************************************************/
// Console Code Classes
.console {
	position: relative;
	overflow: hidden;
	color: white;
	background-color: rgba(40, 5, 25, 0.75);
	border-radius: 0.5rem;

	nav {
		padding: 0.5rem;
		background-color: rgb(60, 60, 60);

		a {
			display: inline-block;
			width: 1.25rem;
			height: 1.25rem;
			padding: 0.25rem;
			color: black !important;
			line-height: 0.75rem;
			text-align: center;
			background-color: white;
			border-radius: 1000px;

			&:first-of-type {
				background-color: rgb(225, 69, 0);

				&:hover {
					background-color: rgb(255, 75, 50);
				}
			}

			&:nth-of-type(2) {
				background-color: rgb(200, 200, 200);

				&:hover {
					background-color: rgb(235, 235, 235);
				}
			}
		}

		span {
			margin-left: 1rem;
			font-weight: bold;
		}
	}

	div {
		padding: 0.75rem;
		font-family: "Courier New", Courier, monospace;

		.console-error {
			color: rgb(255, 50, 50);
		}

		.console-prompt {
			color: goldenrod;
		}
	}
}
